<h1>Editing transcription</h1>

<div id="left-dc-embed">
  <div id="doc">
  </div>
</div>
  <div id="right-column">
    <%%= render 'form' %>
  </div>
  
<%%= link_to 'Show', @transcription %> |
<%%= link_to 'Back', transcriptions_path %>
<script type="text/javascript" src="http://s3.documentcloud.org/viewer/loader.js"></script> 
<script>
var CURRENT_DOCUMENT = DV.load("https://documentcloud.org/documents/<%%= @<%= @table.singularize %>.dc_slug %>.js", {
   container : '#doc_freethefiles',
   width     : 660,
   height    : 900,
   zoom      : 'auto',
   showSidebar : false,
   embedded  : true,
   showAnnotations : false,
   //afterLoad : setupViewer
 });
</script>